<h4>Item Name: {{model.name}}</h4>
<h4>Value: {{model.value}}</h4>
{{input placeholder='Item Name' value=newItem.name}}
{{input placeholder='Item Value' value=newItem.value type="number"}}
<button{{action 'createItem'}}>Save</button>
