{{#link-to "boxes"}}Up to My Boxes{{/link-to}}
<h2>Box Details:</h2>
{{#if model.editable}}
{{#link-to "boxes.edit" model.id tagName="button"}}Edit Box<{{/link-to}}
<button {{action "deleteBox" model}}>Delete this Box</button>
{{else}}
<button {{action "deleteBox" model}}>Remove this Box from your list</button>
{{/if}}

<h4>Box Name: {{model.name}}</h4>
<h5>Users:</h5>
<ul>
  {{#each model.permissions as |permission|}}
    <li>
      {{permission.user.email}}
      ({{input type="checkbox" name="writeAccess" disabled=true checked=permission.writeAccess}}
      Write Access)
    </li>
  {{/each}}
</ul>
<h5>Items:</h5>

{{item-listing model=model}}
{{outlet}}
