{{!-- {{#link-to "boxes"}}Up to My Boxes{{/link-to}} --}}
<p>{{#link-to "boxes.box" model.id}} Up to {{model.name}}{{/link-to}}</p>
{{#if model.editable}}
  <h2>Box Details:</h2>
{{edit-box-name model=model
                cancel="cancelChanges"
                saveBox="updateBox"}}

  <h5>Users who are sharing this Box:</h5>
  <ul>
    {{#each model.permissions as |permission|}}
      <li>{{permission.user.email}}
        ({{input type="checkbox" name="writeAccess" checked=permission.writeAccess}}
        Write Access)
        <button {{action "updatePermission" permission}}>Save Permission</button>
        <button {{action "deletePermission" permission}}>Delete Permission</button>
      </li>
    {{/each}}
  </ul>
  <h5>Share this Box with another User:</h5>
  {{invite-users-box box=model
                     addUserToBox="createPermission"}}
{{else}}
<h2>You must have write access for this Box to edit it! Ask an authorized Box member for permission to edit this Box.</h2>
{{/if}}
